.header-section {
    background-color: #ffff;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}

 .burger {
    display: none;
    visibility: hidden;
}

.header-section.menu-link a {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(35, 61, 99, 0.8);
    text-decoration: none;
}

.header-section .header-menubar-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 26px;
    padding-bottom: 25px;
}


.header-section .right-col.navbar {
    flex-basis: 58%;
}

.header-section .left-col {
    flex-basis: 28%;
}

.header-section .header-button {
    flex-basis: 14%;
}

.header-section ul.menu-inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-section .menu-inner li.menu-link {
    position: relative;
    padding: 0px 27px 0px 10px;
}

.header-section .menu-inner li.menu-link a:hover {
    color: #ee9e14;
}

.header-section .primary-button a {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #ee9e14;
    padding: 14px 32px 14px 32px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s all;
    text-decoration: none;
}

.header-section .primary-button a:hover {
    background-color: #f3770a;
}

.header-section .menu-inner .menu-link a {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(35, 61, 99, 0.8);
}
.header-section li.menu-link.child:after {
    content: "\2b";
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
    left: 85%;
    cursor: pointer;
}
.header-section li.menu-link.child:hover::after {
    color: #FFBC48;
}
.header-section .dropdown a {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
}

.header-section ul.dropdown li.first-child {
    margin-bottom: 8px;
    padding: 0px 20px 0px 10px;
}

.header-section ul.dropdown {
    position: absolute;
    width: 170px;
    padding: 15px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    z-index: 11;
    transition: all .3s ease;
    opacity: 0;
    left: -50%;
    visibility: hidden;
    top: 100px;
    background-color: #fff;
    border-radius: 4px;
    color: #ffffff;
}

.header-section li.menu-link:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    top: 62px;
}
.header-section ul.dropdown li.first-child:hover a {
    color: #ffcc3e;
    
}














/* module one start */
.module_one {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 100px 0px;
}

.module_one .banner_heading span {
    color: #233D63;
    font-weight: 800;
}

.module_one .banner_heading {
    max-width: 902px;
    margin: 0 auto;
    padding-bottom: 73px;
}

.module_one .banner_input input[type=text] {
    padding: 21px 0px 20px 15px;
    width: 100%;
    max-width: 390px;
    border: 1px solid #FFBC48;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #BABABA;

}



.banner_input {
    margin-bottom: 85px;
}

.banner_input {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.module_one .banner_input .button {
    padding: 19px 60px;
    background-color: #FFBC48;
    border: 1px solid #FFBC48;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

.module_one .banner_input .button a {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}


.banner_image img {
    max-width: 1050px;
    width: 100%;
}

.module_one {
    position: relative;
    z-index: 1;
}

.module_one::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(./Group\ 686.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 403px;
    min-height: 532px;
    left: 0px;
    top: 0;
    transform: translate(0%, 19%);
}

.module_one::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(./Group\ 665.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 441px;
    min-height: 458px;
    right: 0;
    top: 50%;
    transform: translate(0%, -30%);
}

/*  module two start */


.module_two {
    padding: 30px 0px 50px;
}

.module_two .our_clints_joins {
    border: 1px solid #FFBC48;
    margin-top: 51px;
    /* padding: 38px 0px */
}

.module_two .slick-track {
    display: flex;
    align-items: center;

}

.module_two .image {
    max-width: 250px;
    margin: 0 auto;
    padding: 40px 40px;
}

/* .image img{
width:100%;
} */
.module_two .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* module two end */


/*  module three start */
.module_three {
    padding: 80px 0px;
}

.our_target {
    text-align: center;
}

.our_target_heading span {
    color: #233D63;
    font-weight: 800;
}

.our_target_describe {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 10px;
}

.our_target_describe p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06px;
    color: #233D63;
}

.our_target_three-col {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}

.our_target_three-col {
    padding: 62px 0px 0px;
}

.our_target_three-col .column-1 {
    flex-basis: 46%;
    background: #FFFFFF;
    border: 0.5px solid rgba(255, 188, 72, 0.8);
    border-radius: 4px;
    margin-right: 4%;
    position: relative;
    z-index: 1;
    transition: .5s all ease-in-out;
}

.our_target_three-col .column-1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.our_target_three-col .column-1:nth-child(3n+3) {
    margin-right: 0%;
}

.our_target_three-col .column-1 .main_container .container-image1 img {
    width: 100%;
    max-width: 82.74px;
    margin: 0 auto;



}

.our_target_three-col .column-1 .main_container .container-image2 img {
    width: 100%;
    max-width: 116.43px;
    margin: 0 auto;

}

.our_target_three-col .column-1 .main_container .container-image3 img {
    width: 100%;
    max-width: 76px;
    margin: 0 auto;

}

.main_container {
    padding: 59px 45px 45.53px 45px;
}

.our_target_three-col .column-1 h4 {
    padding-bottom: 32px;
}

.our_target_three-col .column-1 .main_container a {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our_target_three-col .column-1 .main_container a:hover {
    color: #FFBC48;
}

.our_target_three-col .column-1 .more {

    width: 100%;
    padding-top: 10px;
}

.our_target_three-col .column-1 .more p {
    padding-bottom: 45px;

}

.our_target_three-col .column-1 .more a i {
    margin-left: 6px;
    vertical-align: middle;

}

/* module three end */


/* module foure start tabber */
.module_foure {
    padding: 100px 0px;
    background: #FBFBFB;
    border-radius: 4px;
}

.module_foure .tabber-heading {
    width: 100%;
    max-width: 742px;
    margin: 0 auto;
}

.module_foure .tabber-heading span {
    font-weight: 900;
}

.tabber-heading h2 {
    padding-bottom: 10px;
}

.tabber-heading p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05px;
    color: #233D63;
}

.tabber-heading {
    padding-bottom: 96px;
}

.main_tabber .tabber-left ul li {
    width: 100%;
    max-width: 272px;
    padding: 16px 0px 17px;
    border: 1px solid #FFBC48;
    margin-bottom: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.main_tabber .tabber-left ul li {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #233D63;
    transition: .5s all ease-in-out;
}

.main_tabber .tabber-left ul li:hover {
    background-color: #FFBC48;
    color: #FFFFFF;
}

.tabber-left ul .active {
    background-color: #FFBC48;
}

.main_tabber {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tabber-left {
    flex-basis: 35%;
}

.tabber-right {
    flex-basis: 65%;

}

.tabber-right .tabber-image img {
    width: 100%;
    display: block;
}

.tabber-right.tabber-button a {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffcc3e;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease-in-out;
    cursor: pointer;
    transition: .5s all ease-in-out;

}

.tabber-right.tabber-button a i {
    vertical-align: middle;
}

.tabber-right .tabber-button a:hover {
    color: #ffcc3e;
}

.tabber-right .tabber-button i {
    color: #ffcc3e;
    vertical-align: middle;
    margin-right: 10px;
}

.tabber-right .content-explain h5 {

    text-align: left;
    padding: 74px 0px 35px;
}

.tabber-right .content-explain p {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #30496D;
    text-align: left;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.mobile-view h4 i {
    content: '';

    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 900;
    font-size: 15px;
    color: #695ff7;
}

.mobile-view h4 {
    color: #233D63;
}


.mobile-view {
    display: none;
}

/* module foure end */

/* module five start business plan */
.module_five {
    padding: 180px 0px 128px;
}

.business_plan_heading {
    width: 100%;
    max-width: 542px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.business_plan_heading h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.0552632px;
    color: #233D63;

}

.business_plan_heading span {
    font-weight: 900;
}

.business_plan_three-col {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.business_plan_three-col .user_col-1 {
    flex-basis: 31%;
    border: 0.5px solid rgba(255, 188, 72, 0.8);
    margin-right: 3.444%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 4px;
    transition: .5s all ease-in-out;
}

.business_plan_three-col .user_col-1:hover {
    background: #FFFFFF;
    border: 0.5px solid rgba(255, 188, 72, 0.8);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

}

.business_plan_three-col .user_col-1:nth-child(3n+3) {
    margin-right: 0%;
}

.business_plan_three-col .user_col-1 .main_container1 {
    padding: 20px 0px 61px;

}

.business_plan_three-col .user_col-1 .main_container1 h6 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.01842px;
    color: #233D63;
    padding-bottom: 28px;

}

.business_plan_three-col .user_col-1 .main_container1 .count {
    background-color: #FBFBFB;
    padding: 18px 0px;
}

.business_plan_three-col .user_col-1 .main_container1 h5 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 76px;
    letter-spacing: -1.87879px;
    color: #233D63;


}

.business_plan_three-col .user_col-1 .main_container1 span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #233D63;
    font-family: 'Overpass', sans-serif;

}

.business_plan_three-col .user_col-1 .main_container1 .user_col-1_describe {
    padding: 40px 0px;

}

.business_plan_three-col .user_col-1 .main_container1 .user_col-1_describe p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #233D63;
    font-family: 'Overpass', sans-serif;
}

.business_plan_three-col .user_col-1 .main_container1 .btn {
    display: inline-block;
    border: 1px solid #FFBC48;
    padding: 15px 35px;
    background-color: #FFBC48;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 34px;
    transition: .5s all ease-in-out;
}

.business_plan_three-col .user_col-1 .main_container1 .btn:hover {
    background-color: #ee9e14;
}

.business_plan_three-col .user_col-1 .main_container1 .btn a {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FFFFFF;

}

.business_plan_three-col .user_col-1 .main_container1 .para {
    width: 100%;
    max-width: 227px;
    margin: 0 auto;
}

.business_plan_three-col .user_col-1 .main_container1 .para p {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.225px;
    color: #233D63;

}

/* module five end */

/* module six start */
.module_six {
    padding: 100px 0px;
    background-color: #FBFBFB;
    position: relative;
    z-index: 1;
}

.clints_quote {
    text-align: center;
    position: relative;
    z-index: 1;
}

.clints-images::before {
    content: '';
    background-image: url(./Mask\ Group\ \(5\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 123px;
    min-height: 141px;
    position: absolute;
    z-index: -1;
    top: 21%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* transform: skew(2deg,19deg); */
}

.clints-images::after {
    content: '';
    background-image: url(./Mask\ Group\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 123px;
    min-height: 141px;
    position: absolute;
    z-index: -1;
    top: 21%;
    right: 20%;
    transform: translate(-50%, -50%);
}

.clints-images1::before {
    content: '';
    background-image: url(./Mask\ Group\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    z-index: -1;
    bottom: 21%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.clints-images1::after {
    content: '';
    background-image: url(./Mask\ Group\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    z-index: -1;
    bottom: 18%;
    right: 18%;
    transform: translate(-50%, -50%);
}


.clints_describe {
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
    padding: 40.53px 0px 41px;
}

.clints_describe p {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #233D63;
}

.our_clints_image {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.our_clints_image img {
    border-radius: 50%;
    margin-right: 3%;
}

.module_six::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(./Group\ 686.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 403px;
    min-height: 532px;
    left: 0px;
    top: 0;
    transform: translate(0%, -28%);
}

.module_six::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(./Group\ 665.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 441px;
    min-height: 458px;
    right: 0;
    top: 50%;
    transform: translate(0%, -53%);
}

/* mosule six end */

/* module eghit start */
.module_eight {
    padding: 100px 0px;
}

.module_eight .posts_heading h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 0.05px;
    color: #233D63;
    padding-bottom: 20px;

}

.module_eight .posts_heading span {
    font-weight: 900;
}

.module_eight .posts_heading p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #233D63;
}

.module_eight .posts_heading {
    margin-bottom: 37px;
}

.module_eight .our_posts_three-colums {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
}

.module_eight .our_posts_three-colums .posts_colum1 {
    flex-basis: 31%;
    margin-right: 3.5%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
    transition: .5s all ease-in-out;
    position: relative;
    z-index: 1;
}

.module_eight .our_posts_three-colums .posts_colum1:hover {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

.module_eight .our_posts_three-colums .posts_colum1:nth-child(3n+3) {
    margin-right: 0%;
}

.module_eight .our_posts_three-colums .posts_colum1 img {
    border-radius: 5px;
    width: 100%;



}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 {
    padding: 0px 31px 22px 20px;
    text-align: left;
    border: 0.5px solid rgba(255, 188, 72, 0.8);
    margin-top: -18px;
}

.module_eight .our_posts_three-colums .posts_colum1 .posts_colum1_book h5 {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.0236842px;
    text-align: left;
    color: #233D63;
}

.module_eight .our_posts_three-colums .posts_colum1 .posts_colum1_book {
    padding-top: 42px;
    padding-bottom: 30px;
}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 h6 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3.025px;
    color: #233D63;
    padding-bottom: 26px;
}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Overpass';
    text-align: left;
    letter-spacing: 0.3px;
    color: #233D63;
    padding: 0px 25px 22px 0px;
}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 a {
    color: #FFBC48;
    /* position: absolute;
z-index: 1;
bottom: 25px;
left: 50%;
transform: translate(-50%, -50%); */
}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 a:hover {
    color: #ee9e14;
}

.module_eight .our_posts_three-colums .posts_colum1 .main-container2 a i {
    vertical-align: middle;
    margin-left: 10px;
}

.module_eight .posts .btn {
    text-align: center;
    margin-top: 72px;
}

.module_eight .posts .btn a {
    padding: 15px 55px;
    border: 1px solid #FFBC48;
    background-color: #FFBC48;
    color: #FFFFFF;
    border-radius: 5px;

}

.module_eight .posts .btn a:hover {
    background-color: #ffff;
    color: #000;
}


/* module eghit end */

/* module seven start */
.module-seven {
    padding: 20px 0px 120px;

}

.test_cases_heading {

    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    max-width: 572px;
    margin: 0 auto;
}

.test_cases_heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #233D63;
}

.test_cases_heading span {
    font-weight: 800;
}


.test_cases_images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;


}

.test_case_col img {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    min-height: 352px;

}

.test_case_col-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.test_case_col-content {
    padding: 20px 18px;
    background-color: #FBFBFB;
    margin-right: 27px;
}

.test_case_col-content h6 {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #233D63;
    margin-right: 10%;
    padding-left: 2%;

}

.test_case_col-content a {
    text-align: right;
    color: #FFBC48;
}

.test_case_col-content a i {
    vertical-align: middle;
    margin-left: 5px;
}

ul.slick-dots {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style-type: circle !important;
    font-size: 24px;
    letter-spacing: 31px;
    gap: 26px;
    color: #e4e1da;
    margin-top: 70px;

}

ul.slick-dots li {
    list-style: disc;
    font-size: 26px;
    cursor: pointer;
}


li.slick-active {
    color: #e70c0c;
    font-size: 28px !important;
}

ul li button {
    display: none;
}



/* module seven end */

/* module nine start */
.module_nine {
    padding: 100px 0px 20px;
    /* background-color: #FBFBFB; */
    position: relative;
    z-index: 1;
}

.module_nine::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 143px;
    right: 0;
    left: 0;
    background-color: #FBFBFB;
}

.solution {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.solution-left-col {
    flex-basis: 65%;

}

.solution-right-col {
    flex-basis: 35%;
}

.solution-left-col .heading {
    width: 100%;
    max-width: 725px;
}

.solution-left-col .heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.0552632px;
    color: #233D63;
    text-align: left;
    padding-bottom: 20px;
}

.solution-left-col .heading span {
    font-weight: 900;
}

.solution-left-col .heading p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #233D63;
}

.solution-left-col .heading .describe {
    width: 100%;
    max-width: 491px;
    margin-left: 0 auto;
    padding: 0px 0px 42px;
}

.solution-left-col .heading .left-col-img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.solution-left-col .heading .left-col-img .image1 {
    flex-basis: 28%;

}

.solution-left-col .heading .left-col-img .image1 img {
    width: 100%;
    max-width: 164px;
}

.solution-left-col .heading .left-col-img .image2 {
    flex-basis: 30%
}

.solution-left-col .heading .left-col-img .image2 img {
    width: 100%;
    max-width: 163px;
}

.solution-right-col img {
    margin-top: -200px;
    width: 100%;
}

/* module nine end */

/* module ten start */
.module_ten {
    padding: 100px 0px 127px;

}

.content-wrapper-big {
    max-width: 1373px;
    padding: 0px 20px;
    margin: 0 auto;
}

.message-heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.24;
    color: #233D63;
    width: 100%;
    max-width: 1027px;
    text-align: left;
}

.message-heading span {

    font-weight: 900;

}

.message-heading {
    padding-bottom: 66px;
}

.message-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.know-more input[type="text"] {
    width: 100%;
    padding: 16px 15px 16px 15px;
    border: 2px solid #FFBC48CC;
    border-radius: 4px;
    margin-bottom: 33px;
    opacity: 0.5;
    outline: #000;
}

.right-col label {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: #233D63;
}

.message-flex .left-col {
    flex-basis: 60%;
    margin-right: 4%;
}

.message-flex .right-col {
    flex-basis: 36%;
}

.message-flex .left-col img {
    width: 100%;
    display: block;
}

.right-col .message {
    height: 100%;
    min-height: 213px;
}

.message-flex input[type="message"] {
    height: 100%;
    min-height: 213px;
    width: 100%;
    border: 2px solid #FFBC48CC;
    border-radius: 4px;
    margin-bottom: 23px;
    opacity: 0.5;
    outline: #000;
    text-align: start;
}

.message-flex input[type="email"] {
    width: 100%;
    padding: 16px 15px 16px 15px;
    border: 2px solid #FFBC48CC;
    border-radius: 4px;
    margin-bottom: 33px;
    opacity: 0.5;
    outline: #000;
}



.message-flex .left-col img {
    width: 100%;
    display: block;
}

.right-col .button {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    padding: 14px 52px 14px 53px;
    background-color: transparent;
    border: 1px solid #FFBC48;
    border-radius: 4px;
    color: #ffffff;
    background-color: #FFBC48;
    display: inline-block;
    transition: .5s all ease-in-out;
    cursor: pointer;
}

.right-col .button a {
    color: #ffffff;
}

.right-col .button:hover {
    background-color: #ee9e14;
}

/* module ten ends */

/* module eleven start */
.module_eleven {
    padding: 80px 0px 30px;
    background-color: #FBFBFB;
}

.module_eleven .news_letter {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
}

.module_eleven .news_letter .news_letter_heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #233D63;
}

.module_eleven .news_letter .news_letter_heading span {
    font-weight: 900;
}

.module_eleven .news_letter .news_letter_heading p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #233D63;
    padding-bottom: 38px;
    padding-top: 10px
}

.module_eleven .news_letter .our_subscribes form {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;

}


.module_eleven .news_letter .our_subscribes .right_col_type {

    border: 2px solid #CECECE;
    border-radius: 4px;
    opacity: 0.5;
    padding: 30px 0px 30px 30px;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    outline: #000;
    width: 100%;

}

input.secondary-button {
    position: absolute;
    z-index: 2;
    top: 11%;
    left: 62.5%
}

.secondary-button {

    padding: 14px 52px 14px 53px;
    background-color: transparent;
    border: 1px solid #FFBC48;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
    background-color: #FFBC48;
    display: inline-block;
}

.secondary-button:hover {
    background-color: #ffff;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.secondary-button:hover {
    color: #000000;
    transition: 0.3s all ease-in-out;
}

.secondary-button {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

/* module elven end */

/* module twelve start */
.module_twelve {
    padding: 83px 0px 30px;
}

.footer_section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.footer_section .footer_left_col {
    flex-basis: 50%;
}

.footer_section .footer_right_col {
    flex-basis: 50%;
}

.footer_left_col {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

}

.footer_left_col .footer_logo {
    flex-basis: 50%;
}

.footer_left_col .footer_about {
    flex-basis: 50%;
}

.footer_left_col .footer_about h5 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #233D63;
    padding-bottom: 10px;
}

.footer_left_col .footer_about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #233D63;
    text-align: left;

}

.footer_right_col ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer_right_col ul li {
    padding-left: 38px;
}

.footer_right_col ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #233D63;
}

.footer_right_col ul li a:hover {
    color: #ee9e14;
    transition: 0.3s all ease-in-out;
}

.module_last {
    padding: 20px 0px;
}

.footer_aside {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer_aside .footer_left {
    flex-basis: 28%;
}

.footer_aside .footer_right {
    flex-basis: 72%;
}

.footer_right ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer_right ul li {
    padding-right: 50px;
}

.footer_right ul li a i {
    font-size: 22px;
    font-weight: 600;
    transition: .3s all ease-in-out;

}

.footer_right ul li a i:hover {
    color: #ef0bbd;

}