.module_one {
    padding: 177px 0px 92px
}

.module_one {
    text-align: center;
    position: relative;
    z-index: 1;
}

.module_one .banner_heading span {
    color: #233D63;
    font-weight: 800;
}

.module_one .banner_heading {
    max-width: 902px;
    margin: 0 auto;
    padding-bottom: 73px;
}

.module_one .banner_input input {
    padding: 21px 0px 20px 15px;
    width: 100%;
    max-width: 390px;
    border: 1px solid #FFBC48;
    border-radius: 5px;
    margin-right: 1%;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #BABABA;
    
}



.banner_input {
    margin-bottom: 80px;
}

.module_one .banner_input button {
    padding: 19px 0px 19px;
    width: 100%;
    max-width: 229px;
    background-color: #FFBC48;
    border: 1px solid #FFBC48;
    border-radius: 5px;
}



.module_one .banner_input button a {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.banner_image img {
    max-width: 1050px;
    width: 100%;
}
.module_one{
position: relative;
z-index: 1;
}
.module_one::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url(./Group\ 686.svg);
    background-size: cover;
    background-repeat: no-repeat;
     width: 100%;
    max-width: 403px;
    min-height: 532px;
    left: 0px;
    top: 0;
    transform: translate(0%, 19%);
}
.module_one::after {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url(./Group\ 665.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 441px;
    min-height: 458px;
    right: 0;
    top: 50%;
    transform: translate(0%, -30%);
}

/*  module two start */


.module_two {
    padding: 30px 0px 50px;
}

.module_two .our_clints_joins {
    border: 1px solid #FFBC48;
    margin-top: 51px;
    padding: 38px 0px


}

.module_two .our_clints_joins img {
    max-width: 300px;
    padding: 0px 50px;
    margin: 0 auto;

}

/* module two end */


/*  module three start */
.module_three {
    padding: 85px 0px;
}

.our_target {
    text-align: center;
}

.our_target_heading span {
    color: #233D63;
    font-weight: 800;
}

.our_target_describe {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 10px;
}

.our_target_describe p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06px;
    color: #233D63;
}

.our_target_three-col {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.our_target_three-col {
    padding: 62px 0px 0px;
}

.our_target_three-col .column-1 {
    flex-basis: 46%;
    border: 1px solid #FFBC48;
    margin-right: 4%;
    box-shadow:  0px 0px  4px gray;
}

.our_target_three-col .column-1:nth-child(3n+3) {
    margin-right: 0%;
}

.our_target_three-col .column-1 .main_container .container-image1 img {
    width: 100%;
    max-width: 82.74px;
    margin: 0 auto;
   
   
   
}
.our_target_three-col .column-1 .main_container .container-image2 img{
    width: 100%;
    max-width: 106.43px;
    margin: 0 auto;
   
}
.our_target_three-col .column-1 .main_container .container-image3 img{
    width: 100%;
    max-width: 76px;
    margin: 0 auto;
   
}
.main_container {
    padding: 59px 45px 45.53px 45px;
}

.our_target_three-col .column-1 h4 {
    padding-bottom: 32px;
}

.our_target_three-col .column-1 .more {
   
    width: 100%;
    padding-top: 10px;
   
 
   


}

.our_target_three-col .column-1 .more p {
    padding-bottom: 35px;
   
}

.our_target_three-col .column-1 .more span a{
    color: #FFBC48;
}
.our_target_three-col .column-1 .more a i {
    margin-left: 6px;
   
}