@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 20px;
    color: #000;
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.content-wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 20px;
}

:root {
    --color-black: #1a1a1a;
    --color-darks: #404040;
    --color-greys: #999;
    --color-light: #f2f2f2;
    --color-white: #fff;
    --color-blue-100: #3c83f6;
    --color-blue-200: #2463eb;
    --color-blue-300: #1d4fd7;
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 82px;
    line-height: 1.12;
    letter-spacing: 0.5px;
    color: #233D63;

}

h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #233D63;
    letter-spacing: 0.6px;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;

    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06px;
    color: #233D63;

}

h4 {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #233D63;
}

h5 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.6px;
    color: #233D63;

}

p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06px;
    color: #233D63;

}

a {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #233D63;
}

ul li {
    list-style-type: none;
}